
body {
	background-image: url("images/stars-canva-background.jpg");
	/* background-color: black; */
	color: #ffffff;
	width: 100%;
}

h1 {
	height: fit-content;
	width: 50%;
}

h2 {
	margin-right: 5px;
	width: 50%;
}

h3 {
	padding-top: 5%;
	margin: 5%;
}

header {
	align-items: center;
	justify-content: space-between;
	height: 150px;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-top: 5%;
}

li {
	color: #ffffff;
	padding: 5px;
}

nav {
	margin-right: 5%;
	padding-top: 25px;
}

main {
	flex-wrap: wrap;
	margin-right: 5%;
	width: 100%;
}

section {
	margin: 10px;
	width: 100%;
}

img {
	height: 500px;
	margin: 10px;
	width: 63%;
}

article {
	width: 100%;
}

form {
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 63%;
}

input {
	justify-content: center;
}

footer {
	justify-content: center;
}


/* class selectors  */
.flex {
	display: flex;
}

.bodhi-color {
	color: #1ad1ce;
}

.nav-list-color {
	color: #ffffff;
}

.ul-social {
	width: 25%;
}

.main-heading {
	font-size: 100px;
	margin: 0px;
	text-align: center;
	width: 100%;
}

.main-sub-heading {
	margin: 0px;
	text-align: center;
}

.main-description {
	margin: 0px 5%;
	text-align: center;
}

.music-player {
	margin-right: 10px;
	width: 75%;
}

.main-middle-section {
	flex-wrap: wrap;
	justify-content: center;
}

.main-contact-area {
	flex-wrap: wrap;
	justify-content: center;
}

.band-image {
	width: 50%;
}

.section-top-right {
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.contact-h2 {
	width: 100%;
	text-align: center;}

.form-name-input {
	height: 33px;
	margin-right: 10px;
	width: 47%;
}

.form-email-input {
	height: 33px;
	width: 47%;
}

.form-subject-input {
	margin-top: 10px;
	height: 33px;
	width: 75%;
}

.form-message-input {
	height: 70px;
	margin-top: 10px;
	text-overflow: clip;
	width: 50%;
}

/* Audio page */

.audio-article {
	color: antiquewhite;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	width: 100%;
}

.audio-h2 {
	margin: 5% auto;
	text-align: center;
	width: 100%;
}

.bible-h2 {
	margin-left: 5px;
	width: 100%;
}

.audio-img {
	height: 600px;
	margin: auto;
	width: 40%;
}

/* Visual page */ 

video {
	height: 400px;
	margin: auto;
  width: 50%;
}

.visual-h2 {
	color: #ffffff;
	margin: 0px;
	text-align: center;
	width: 100%;
}

/* Live Bodhi */

.live-Bodhi-section {
	margin: auto;
	width: 75%;
}

/* media queries */

@media only screen and (max-width:700px){
	.main-top-section {
		flex-wrap: wrap;
		justify-content: center;
	}
}